<% show_username ||= nil %>

<div class="col-md-6">
<div class="plate" style="background-image: url(http://www.bungie.net/<%= character.api_info['data']['backgroundPath'] %>)"/>

	<img class="emblem" src='http://www.bungie.net/<%= character.api_info['data']['emblemPath'] %>'/>
	<div class="details">
		<div class="class"><%= character.classname %></div>
		<% if show_username %>
			<div class="user"><a href="<%= character.person.url %>"><%= character.person.destiny_account['userInfo']['displayName'] %></a></div>
		<% end %>
		<div class="level"><%= character.api_info['data']['characterBase']['powerLevel'] %></div>
		<div class="light"><%= character.api_info['data']['characterLevel'] %></div>
	</div>

</div>
</div>
