<table class="table table-striped">
	<tr>
		<th>Stat</th>
		<th>Total</th>
		<th>Per Game Average</th>
	</tr>

	<% stats.keys.sort.each do |stat_name| %>
		<tr>
            <td><a href="/clans/<%= clan_id %>/<%= statistic_type %>/<%= stat_name %>"><%= stat_name.underscore.humanize %></a></td>
			<td><%= stats[stat_name]['basic']['displayValue'] %></td>
			<td>
				<% if stats[stat_name].has_key?('pga') %>
					<%= stats[stat_name]['pga']['displayValue'] %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>
