<br/>
<div class="container">
<%= render 'person_badge', {:person => @person} %>

<h2>Points to Next Faction Levelup</h2>
<% @factions_sorted.each do |faction_title, faction_info| %>
    <div class="row">
        <div class="col-md-1">
            <p><%= faction_info['pointsToNextLevel'] %></p>
        </div>
        <div class="col-md-3">
            <p><%= faction_info['name'] %>
            <span class="badge"><%= faction_info['level'] %></span>
            </p>
        </div>
        <div class="col-md-8">
            <%= render 'character_badge', {:character => Character.new(
                faction_info['character']['membership_type'],
                faction_info['character']['username'],
                faction_info['character']['character_id'],
            )} %>
        </div>
    </div>
<% end %>

</div>
